<p class='pull-right'>
  [ <%= link_to 'edit this post', edit_post_path(@post) %> ]
</p>
<p>
  <% @post.categories.each do |category| %>
    <span class = 'badge'><%= category.name %></span>
  <% end %>
</p>
<p class = 'lead'>
  <%= @post.title %>
</p>
<p>
  <%= @post.description %>
</p>
