<p class='pull-right'>
  [ <%= link_to 'edit this post', edit_post_path(@post) %> ]
</p>

<p>
  <%= render @post.categories %>
</p>

<p class = 'lead'>
  <%= @post.title %>
</p>

<p>
  <%= @post.description %>
</p>
